!!!
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="Content-Language", content="en-us")
        meta(name="keywords", content="sopa")
        meta(name="description", content="")
        meta(name="author", content="@constantx")
        link(rel="icon", type="image/png", href="/images/favicon.png")
        //- CSS
        link(rel='stylesheet', href='/css/main.css')

        //- libs

        //- main
        
        
        title= title
        
    body
        block content