!!!
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="Content-Language", content="en-us")
        meta(name="keywords", content="sopa")
        meta(name="description", content="")
        meta(name="author", content="@constantx")
        link(rel="icon", type="image/png", href="/images/favicon.png")
        //- CSS
        link(rel='stylesheet', href='/css/main.css')

        //- libs

        //- main
        
        title= title

        - if(isProduction)
            script
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-2383160-18']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
        
    body
        block content